@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body{
  min-height: 100vh;
  background: url(../assets/images/bg.png)no-repeat;
  background-size: cover;
  background-position: center;
}

hr{
  width: 76%; 
  height: 1px;
  margin-left: 25%;
}

img{
  margin-left:4%;
}
/*** search button **/
span{
  font-size: 20px;
}
label > span{
  font-weight: bold;
  padding-top: 8px;
  padding-right: 5px;
}
input{
  border: 2px solid #C2C2C2;
  box-shadow: 1px 1px 4px #EBEBEB;
}

.usericon{
  text-align: right;
  font-size: 20px;
  margin: 25px 50px;
}

.row{
  padding-left: 40px;
}
.side-bar{
  background: #262d32;
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.6s ease;
  transition-property: left;
  overflow-y: auto;
}

.side-bar.active{
  left: 0;
}

.side-bar .menu{
  width: 100%;
  margin-top: 10px;
}

.side-bar .menu .item{
  position: relative;
  cursor: pointer;
}

.side-bar .menu .item a{
  color: #ffffff;
  font-size: 17px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 45px;
}

.side-bar .menu .item a:hover{
  background: #7c8085;
  transition: 500 0.3s ease;
  font-weight: 900;
}

.side-bar .menu .item i{
  margin-right: 15px;
}

.side-bar .menu .item a .dropdown{
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu{
  background: rgba(255, 255, 255, 0.1);
  display: none;
}

.side-bar .menu .item .sub-menu a{
  padding-left: 80px;
}

.rotate{
  transform: rotate(90deg);
}


::-webkit-scrollbar {
display: none;
}


@media (min-width: 1200px){
.container {
    width: 950px;
    margin-top: 100px;
.label {
  }
    padding: 0.4em 1em;
    font-size: 100%;
    font-weight: 700;
    border-radius: 0px;
}

.button {
  width: 250px;
}

.main{
  overflow-x:auto;
  margin-left: 360px;
  margin-right: 50px;
  padding: 5px;
}

/*** table **/
div.table-title {
  display: block;
  margin: auto;
  width: 100%;
  padding: 5px;
  width: 100%;
  margin-top: 7%;
}

.table-title h3 {
   font-size: 70px;
   font-weight: 600;
   font-style:normal;
   font-family: "Montserrat", sans-serif;
   border-bottom: 2px solid #ddd;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}

.table-fill {
  overflow-y:scroll;
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  width: 100%; 
  padding:5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color: #000000;
  border-bottom:4px solid #000000;
  border-right: 1px solid #000000;
  font-size: 15px;
  padding:15px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #000000;
  border-bottom-: 1px solid #000000;
  color:#000000;
  font-size:36px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#8B8B8B;
  color:#FFFFFF;
  border-top: 1px solid #000000;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#8B8B8B;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:10px;
  text-align:left;
  vertical-align:middle;
  font-weight:500;
  font-size: 14px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #000000;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
